@import "tailwindcss";

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #32B7C5;
  border: 2px solid;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translatex(-50%);
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}

body {
  @apply bg-[#F2F2F2] font-['Poppins'];
}
